# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.idea
package-lock.json

# cypress
cypress/downloads


prisma/migrations/
!prisma/migrations/20240322092611_add_rbac
!prisma/migrations/20240429124031_update_users_table_for_school_owner_onboarding
!prisma/migrations/20240429163859_create_organizations_table
!prisma/migrations/20240507114441_add_id_to_permissions
!prisma/migrations/20240517071440_update_migrations
!prisma/migrations/20240522114937_sync_migrations
!prisma/migrations/migration_lock.toml
cypress/screenshots/
